* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
}


/*<---------- ETIQUETAS DE GRID ----------->*/

.contenedor-logeo {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "header"
    "main";
}

.header { 
    grid-area: header; 
}

.main { 
    
    grid-area: main; 
}


.contenedor-principal {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: 1fr 8fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "header header"
    "mainPrincipal aside"
    "footer footer"; 
}
.header { 
    grid-area: header; 
}
.footer { 
    grid-area: footer; 
}
.mainPrincipal { 
    grid-area: mainPrincipal; 
    
}
.aside { 
    grid-area: aside; 
}




/*<---------- ETIQUETAS GENERALES ----------->*/

body{
    
    width: 100vw;
    background-image: url(/assets/muro-hormigon-gris.jpg);

}
main{
    
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
   
}

/*<---------- HEADER ----------->*/

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.header a{
    color: black;
    text-decoration: none;
}

.header .tituloPrincipal{
    margin-bottom: 0.7rem;
    text-shadow: 3px 10px 15px ;
    
}

/*<---------- MAIN ----------->*/



.inicioSesion{

    width: 30vw;
    height: 60vh;
    background-color: grey;
    backdrop-filter: blur(20px);
    padding: 15px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 7px 24px black;
    border-top: 5px #1f2023 solid;
    

}

.pngUsuario{
    border-radius: 50px;  
    align-self: center;
    position: relative;
    bottom: 3rem;
}
.registro{
    width: 30vw;
    height: 60vh;
    background-color:grey;
    backdrop-filter: blur(20px);
    padding: 15px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 7px 24px black;
    border-top: 5px #1f2023 solid;
    
}
#formularioLogin{

    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 55%;
}

.ContraOlvidada{
    color: black;
    text-decoration: none; 
    font-weight: 600; 
    position: relative; 
    left: 14px;

}
.formularioRegistro{

    
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 55%;
}
.noMostrar{
    display: none;
}

/*<---------- FOOTER ----------->*/

.footer{
    
    display: flex;
    justify-content: space-between;
    background-color: #1f2023;
    align-items: center;
    
}


.derechos{
    display: flex;
    text-align: center;
    margin-right: 2rem;
    height: 1rem;
    color: white;
    font-weight: 300
}

.redSocial{
    margin-left: 2rem;
    height: 3rem;
}



/*<------------------------------------------------------------------------------ PAGINA PRINCIPAL -------------------------------------------------->*/

/*<---------- MAIN ----------->*/

.mainPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#formularioAlumnos{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid rgb(161, 152, 152);
    border-radius: 40px;
    background-color: grey;
    box-shadow: 7px 7px 24px black;
}

.inputsAlu{
    margin: 15px;
}

.listaTutores{
    display: flex;
    flex-wrap: wrap;
    
    text-align: center;

}

.tutor{
    padding: 1rem;
}
.imgTutores{
    width: 100px;
    height: 110px;
}

/*<---------- ASIDE ----------->*/

.aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.contenedorAlumnos{
    border: #1f2023 solid 1px;
}

.AlumnoAgregado{
    list-style: none;
    border: solid black 2px;
    border-radius: 5px;
    width: 200px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: grey;
    font-weight: 700;
}

